@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* GLOBALS */

:root {
  --primary-color: #293f50;
  --secondary-color: #648880;
  --off-white: #f3f3f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--off-white);
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.wrapper {
  width: 100%;
}

.content-container {
  max-width: 1000px;
  margin: auto;
}

/* HEADER */

.header {
  background-color: var(--primary-color);
  color: var(--off-white);
  padding: 1.5rem;
  height: 45vh;
}

.header-top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-title-date h2 {
  font-size: 2.5rem;
  letter-spacing: 0.4rem;
}

.header-title-date p {
  color: var(--secondary-color);
}

.nav a {
  color: var(--off-white);
  padding: 0.5rem;
  transition: 0.1s ease-in 0.1s;
}

.nav a:hover {
  color: var(--secondary-color);
  margin-right: 0.5rem;
}

.header-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 4.5rem 1.5rem;
}

.header-bottom h2 {
  color: var(--secondary-color);
  font-size: 1.9rem;
  margin-bottom: 1rem;
  text-shadow: 1px 5px rgba(0, 0, 0, 0.1);
}

.header-bottom p {
  line-height: 1.5;
  margin-bottom: 1rem;
}

.header-bottom button {
  outline: none;
  padding: 0.9rem;
  background-color: transparent;
  border: 1px solid var(--off-white);
  color: var(--off-white);
  transition: 0.3s ease;
  font-size: 1rem;
  margin-top: 1rem;
}

.header-bottom button:hover {
  background-color: var(--off-white);
  color: var(--secondary-color);
}

/* CARD LINKS */

.cards {
  height: 55vh;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 4rem;
  line-height: 1.4;
}

.cards img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  transition: all 0.1s ease-in-out 0.1s;
}

.cards img:hover {
  opacity: 0.6;
}

.cards a {
  color: var(--secondary-color);
  transition: 0.1s ease-in 0.1s;
}

.cards a:hover {
  color: var(--primary-color);
}

.cards h3 {
  padding-bottom: 1.5rem;
  text-align: center;
}
/* FOOTER */
footer {
  background-color: var(--primary-color);
  color: var(--off-white);
  height: 5rem;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2rem;
}

/* SPEAKERS */

.half-header {
  background-color: var(--primary-color);
  color: var(--off-white);
  padding: 2rem;
  height: 16vh;
}

.speakers-header {
  background: linear-gradient(#a5d4b2, #f5f1d3);
  width: 100%;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  padding: 5rem;
}

.speakers {
  display: flex;
  padding: 2rem;
}

.speaker-content h3 {
  padding: 0.5rem 0;
  color: var(--secondary-color);
}

.speaker-content h4 {
  padding: 0.5rem 0;
  text-transform: uppercase;
}

.speaker-content p {
  line-height: 1.9;
  padding: 0.5rem 0;
}

.speaker-img {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.speaker-img img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.speaker-img a {
  color: var(--primary-color);
}

.speaker-img a:hover {
  color: var(--secondary-color);
}

/* SCHEDULE */
table {
  padding: 1.5rem;
  font-size: 1rem;
}

th {
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: lighter;
}

td {
  padding: 1rem;
  border-bottom: 1px dashed #648880;
}

td a {
  color: var(--primary-color);
}

td a:hover {
  color: var(--secondary-color);
}

/* VENUE */

.map {
  padding: 2rem;
}

.map-1 {
  display: flex;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
}

.map-2 {
  display: flex;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
}

.map-content {
  line-height: 2;
}

.map-content a {
  color: var(--primary-color);
}

.map-content a:hover {
  color: var(--secondary-color);
}

.map-content h3 {
  color: var(--primary-color);
}

iframe {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

/* REGISTER STYLES */

.register {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 75vh;
}

.register-content {
  padding: 2rem;
  align-items: center;
  justify-content: center;
}

.register-content h3,
h4 {
  color: var(--secondary-color);
  margin: 1rem 0;
}

.register-content ul li {
  margin: 1rem;
}

.form {
  padding: 2rem;
}

.form input {
  width: 100%;
  padding: 0.5rem;
  outline: none;
  margin: 1rem 0;
  border-radius: 3px;
  border: transparent;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in;
}

.form input:hover {
  background-color: #f3f3f3;
}

.form button {
  background-color: var(--primary-color);
  outline: none;
  color: var(--off-white);
  padding: 0.5rem;
  width: 50%;
  border-radius: 5px;
  margin: 1rem 0;
  border: transparent;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in;
}

.form button:hover {
  background-color: var(--secondary-color);
}

.form select {
  margin: 1rem 0;
  border: transparent;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in;
}

.form select:hover {
  background-color: #f3f3f3;
}

.form textarea {
  border: transparent;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in;
}

.form textarea:hover {
  background-color: #f3f3f3;
}
